beautifulsoup4==4.9.3
bs4==0.0.1
discord.py==1.6.0
Flask==0.12.2
matplotlib==3.3.2
numpy==1.19.2
numpydoc==0.7.0
RateMyProfessorAPI==1.2.0
RateMyProfessorPyAPI==1.2.1
requests==2.25.1
requests-unixsocket==0.1.5
gunicorn==20.0.4