<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <p>
          <h1>
The bots works with 4 functionalities or commands:
$rmp <first> <last>
$grades <course> <term>
$grades <course> <term> <first_name> <last_name>
$find <first> <last>

 $rmp fetches ratings from ratemyprofessors.com instantly.
 $grades displays a graph of student grades for a particular course and term, with the option of adding a specific professor.
 $find displays a particular professor's contact information.
Format:
<term>: <two-digit year><single letter semester> (ie. Spring 2020 is 20s, Fall 2019 is 19F)
<course>: <subject code><number> (ie. cs1337, CHEM1311)
<first> and <last>: Valid professor first and last names.</h1>
        </p>
        
        <script src="" async defer></script>
    </body>
</html>
